<div class="max-w-2xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-4 text-center">Listado de Tareas</h2>
  <div class="mb-6">
    <label for="statusFilter" class="block text-sm font-medium text-gray-700">Filtrar por estado:</label>
    <select id="statusFilter" (change)="filterTasks($event)" 
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-500">
      <option value="all">Todas</option>
      <option value="completed">Completadas</option>
      <option value="pending">Pendientes</option>
    </select>
  </div>

  
  <ul class="space-y-4">
    <li *ngFor="let task of tasks" class="bg-gray-100 p-4 rounded-md shadow-sm">
      <div class="flex justify-between items-center">
        <div>
          <h3 class="text-normal font-semibold">{{ task.name }}</h3>
          <p class="text-sm text-gray-600">Fecha Límite: {{ task.dueDate | date }}</p>
          <p class="text-sm text-gray-600">Estado: {{ task.completed ? 'COMPLETADA':'PENDIENTE' }}</p>
        </div>
        <label class="inline-flex items-center">
          <input type="checkbox" [checked]="task.completed" (change)="toggleTaskStatus(task.id)" 
                 class="form-checkbox h-5 w-5 text-blue-600">
          <span class="ml-2 text-sm">{{ task.completed ? 'Marcar como pendiente' : 'Marcar como completada' }}</span>
        </label>
      </div>
      
     
      <h4 class="mt-2 font-semibold">Personas Asociadas:</h4>
      <ul class="list-disc list-inside ml-4">
        <li *ngFor="let person of task.people">
          {{ person.name }} - Habilidades: 
          <span *ngFor="let skill of person.skills; let last = last" 
                class="bg-blue-500 text-white rounded-full px-2 py-1 text-xs">
            {{ skill }}<span *ngIf="!last">, </span>
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
